*.bem
*.bet

*.png
*.jpg
*.tga

*.obj
*.dae
*.fbx

*.ttf
*.xml
*.bin
*.json
*~
*.bemat
*.lnk

BESandbox/

lib/

ipch/
.vs/

Release/
Debug/

WorkingCopy/
Build/
Intermediates/

*.exe
*.dll

*.user
*.filters

*.smproj
*.db
*.vspx
*.vsp
*.txt
*sdf*
*.suo
*.opendb
*.psess
