*.bem
*.bet

*.png
*.jpg
*.tga

*.obj
*.dae
*.fbx

*.ttf

*/Release/*
*/Debug/*

WorkingCopy/*


/Release/*
/Debug/*

*.exe
*.dll

*.user
*.filters

*.smproj
*.db
*.vspx
*.vsp
*.txt
*sdf*
*.suo
*.opendb
*.psess